/* ==== FONT ==================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* ==== RESET CSS ==================== */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
img{
  width: 100%;
  height: auto;
}

/* ==== COLORS ==================== */
html{
  /* LIGHT THEME */
  --primaria: #f2f3ec;
  --secundaria: 203, 103, 21;
  --textos: #121214;
  --text1: #434743;
  --text2: #525f60;
  --label: #cb6715;
  --circle: #f2f3ec;
  --icons: #cb6715;
  --icons-h: #ce8b55;
  --btnkm: #f2f3ec;
  --card-bg: #f2f3ec;

  /* FONT-SIZE DEFAULT */
  font-size: 62.5%;

  /* SCROLL */
  scroll-behavior: smooth;

}
.dark-theme{
  --primaria: #121214;
  --secundaria: 82, 5, 123;
  --textos: #EDEDED;
  --text1: #EDEDED;
  --text2: #444444;
  --label: #52057b;
  --circle: #121214;
  --icons: #8a0dce;
  --icons-h: #9b4ac7;
  --btnkm: #EDEDED;
  --card-bg: #242323;
}

/* ==== DEFAULT ==================== */
body{
  width: 100%;
  height: 100%;
  background: var(--primaria);

  font-family: "Fira Code", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
.site-wrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
ul{
  list-style: none;
}
.divisor-1{
  height: .1rem;
  background: linear-gradient(
  270deg, rgba(var(--secundaria), 1) 0%,
          rgba(var(--secundaria), .2) 100%);
}
.divisor-2{
  height: .1rem;
  background: linear-gradient(
  90deg, rgba(var(--secundaria), 1) 0%,
          rgba(var(--secundaria), .2) 100%);
}

/* ==== LAYOUT ==================== */
.container{
  margin-left: 1.5rem;
}
.section{
  margin: 0 auto;
  padding: 2rem 0;
}
#header{
  width: 100%;
  display: flex;
  box-shadow: 0 0 1rem rgb(0 0 0 / 10%);
}
.title-page{
  font-family: "Montserrat", sans-serif;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: var(--text1);

  position: relative;
}
.title-page::after{
  content: "";
  width: 0%;
  height: .3rem;
  
  position: absolute;
  left: 0;
  bottom: -1rem;
  
  background-color: var(--icons);
  transition: width .2s;
}
.title-page:hover::after{
  width: 100%;
}

/* ==== LOGO ====================*/
.logo i{
  color: rgb(var(--secundaria));
  font-size: 2.5rem;
  padding-left: 3rem;
}

/* ==== NAV ==================== */
nav{
  width: 100%;  
  height: 6rem;
  margin-right: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title{
  color: var(--text1);
  font-family: "Fira Code", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
nav ul li a{
  position: relative;
  transition: color .4s;
}
nav ul li a:hover{
  color: rgb(var(--secundaria));
}
nav ul li a::after{
  content: "";
  width: 0%;
  height: 0.3rem;
  background-color: rgb(var(--secundaria));
  
  position: absolute;
  left: 0;
  bottom: -1.9rem;

  transition: width .2s;
}
nav ul li a:hover::after{
  width: 100%;
}
nav .menu{
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: .2s;
}
nav .menu ul{
  display: none;
}


/* ==== SHOW-MENU (MOBILE) ==================== */
nav.show-menu .menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primaria);
}
nav.show-menu .menu ul{
  display: flex;
  flex-direction: column;
}
nav.show-menu ul li{
  padding: 2.5rem 0;
  text-align: center;
}

/* ==== VISIBLE MENU ==================== */
.toggle{
  cursor: pointer;
  font-size: 3rem;
  color: rgb(var(--secundaria));
}

/* ==== ICON MENU ==================== */
nav .open-menu{
  font-size: 2.5rem;
  transition: color .5s;

}
nav .close-menu{
  font-size: 2.5rem;

  position: fixed;
  top: -1.5rem;
  left: 3.5rem;
  z-index: 101;

  opacity: 0;
  visibility: hidden;

  transition: all .2s;
}
nav.show-menu .close-menu{
  opacity: 1;
  visibility: visible;
  top: 1.5rem;
}
/* HOVER */
nav .open-menu:hover{
  color: var(--text1);
}
nav.show-menu .close-menu:hover{
  color: var(--text1);
}

/* ==== SWAP THEME ==================== */
.swap-themes{
  display: flex;
  align-items: center;

  position: absolute;
  right: 8rem;
}
.label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  width: 5rem;
  height: 2.5rem;
  
  border-radius: 2rem;
  background-color: var(--label);
}
.circle{
  cursor: pointer;
  width: 1.9rem;
  height: 1.9rem;
  margin-left: .4rem;

  border-radius: 1rem;
  background-color: var(--circle);

  transition: transform .2s linear;
}
.checkbox{
  /* sr-only */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.checkbox:checked + .label{
  background-color: var(--label);
}
.checkbox:checked + .label .circle{
  background-color: var(--circle);
  transform: translateX(2.2rem);
}

/* ==== BUTTON UP ==================== */
.btn-up{
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 10;

  width: 3rem;
  height: 3rem;
  visibility: hidden;
  opacity: 0;

  background: rgb(var(--secundaria)) ;
  border-radius: .5rem;

  transition: all .5s;
  transform: translateY(100%);
}
.btn-up.show-up{
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}
.btn-up i{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  color: var(--primaria);
}
.btn-up.show-up:hover{
  opacity: .9;
}

/* ==== HOME ==================== */
#home{
  overflow: hidden;
}
#home .container{
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#textoHome{
  color: var(--text1);
}
.nome{
  color: rgb(var(--secundaria));
}
.show-wm::after{
  content: "|";
  opacity: 1;
  
  font-weight: 400;
  color:var(--text1);
  animation: blink .7s infinite;
}
@keyframes blink{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.btn-knowmore button{
  margin-top: 5rem;
  padding: 1rem;
  
  font-family: "Fira Code", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(var(--secundaria));
  cursor: pointer;
  
  border: solid .2rem rgb(var(--secundaria));
  border-radius: .3rem;
  box-shadow: inset 0 0 0 0 rgb(var(--secundaria));
  transition: color ease-out .7s, box-shadow ease-out.7s;
}
.btn-knowmore button:hover{
  color: var(--btnkm);
  box-shadow: inset 30rem 0 0 0 rgb(var(--secundaria));
}

/* ==== ABOUT ==================== */
#about .container{
  height: 90vh;

  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.content-about{
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.text-about{
  grid-column: 2;
}
.text-about p{
  font-family: "Fira Code" sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0;
  text-transform: none;
  text-align: start;

  color: var(--textos);
}
.circle-about{
  position: relative;
  grid-row: 1;
}
.about-img{
  position: absolute;
  left: -4rem;
  width: 50rem;
  height: 50rem;
}

/* ==== PROJECTS ==================== */
#projects .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  margin: 0 8rem;
}
.container-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 5rem;
  margin: 5rem 0;
}
.card{
  width: 40rem;
  height: 35rem;
  
  background-color: var(--card-bg);
  box-shadow: 0 0 .4rem rgba(0, 0, 0, .4);
  border-bottom: .3rem solid rgb(var(--secundaria));
  
  transition: border .2s ease-out;
}
.card:hover{
  border: .3rem solid rgb(var(--secundaria));
  animation: scale-up-center .6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
}
.content{
  height: 30rem;
  margin: 2rem;
  font-size: 2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: var(--text1);

  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.title-card{
  position: absolute;
  top:0;
}
.title-project{
  position: absolute;
  top: 0;
  font-size: 2rem;
}
.resume{
  font-size: 1.8rem;
  letter-spacing: normal;
  text-transform: none;
  color: var(--textos);

  position: absolute;
  top: 4rem
}
.btn-project button{
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primaria);
  padding: 1rem 3rem;
  cursor: pointer;
  
  border-radius: .4rem;
  background-color: rgb(var(--secundaria));
  transition: opacity .7s;
}
.btn-project button:hover{
  opacity: .8;
}
.btn-project i{
  padding-left: 1rem;
  color: var(--primaria);
  font-size: 2rem;
}
.languages{
  position: absolute;
  bottom: 0;
}
.languages i {
  padding-right: 1rem;
  font-size: 5rem;

  transition: opacity .5s;
}
.languages i:hover{
  opacity: .7;
}
.fa-html5{
  color: #FF6614;
}
.fa-css3-alt{
  color: #0E9EE4;
}
.fa-js-square{
  color: #F0D041;
}

/* ==== CONTACT ==================== */
#contact .container{
  height: 90vh;
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.circle-contact{
  position: relative;
  margin-top: 6.5rem;
  width: 20rem;
  height: 20rem;
  
  border-radius: 50%;
  background: rgb(var(--secundaria));
}
.contact-img{
  position: absolute;
  left: -4.5rem;
  top: -4rem;
  width: 30rem;
  height: 30rem;
}

/* ==== SOCIAL MEDIA ==================== */
.sm-wrapper{ 
  margin-top: 6.5rem;
  cursor: pointer;
}
.sm-wrapper a{
  font-size: 6rem;
  padding: 0 1rem;
  color: var(--icons);
  transition: color .5s;

}
.sm-wrapper a:hover {
  color: var(--icons-h);
}

/* ==== FOOTER ==================== */
#footer .container{
  display: flex;
  justify-content: center;
  align-items: center;

  margin:0;
  height: 4vh;
  box-shadow: 0 0 1rem rgb(0 0 0 / 10%);
}
.text-footer{
  margin: 0 2rem;

  font-family: "Fira Code", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--textos);
}

/* ==== MEDIA ==================== */
@media (max-width: 500px){
  .card{
    width: 25rem;
    height: 20rem;
  }
}
@media (min-width: 1200px){
  nav .menu{
    opacity: 1;
    visibility: visible;
    padding-right: 15rem;
  }
  nav .menu ul{
    display: flex;
    gap: 3rem;
  }
  nav .menu ul li a.title{
    font-size: 2rem;
    font-weight: 500;
  }
  nav .open-menu{
    display: none;
  }
}
@media (max-width: 1200px){
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  nav .open-menu{
    position: absolute;
    padding-left: 4rem;
    left: 0;
  }
  nav .swap-themes{
    right: 0;
    padding-right: 3rem;
  }
  .logo i {
    padding-right: .6rem;
  }
}
@media (max-width: 500px){
  .resume{
    font-size: 1.2rem;
  }
  .btn-project button{
    margin-bottom: 8rem;
    font-size: 1.2rem;
    padding: .5rem;
  }
  .btn-project i{
    font-size: 1.2rem;
  }
  .languages{
    bottom: 13rem;
  }
  .languages i{
    padding-right: .2rem;
    font-size: 3rem;
  }
}
@media (max-width:1400px){
  #about .container{
    height: 100%;
    margin:0 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .content-about{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-about p{
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .circle-about{
    /* sr-only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  .about-img{
    /* sr-only */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  }
}